[submodule "kernel"]
	path = kernel
	url = git://pkgs.fedoraproject.org/rpms/kernel
[submodule "kernel_gcc_patch"]
	path = kernel_gcc_patch
	url = https://github.com/GeorgeSapkin/kernel_gcc_patch.git
